@import "src/scss/variables/colors";

$headerHeight: 56px;

.header-app {
    height: $headerHeight;
    width: 100%;
    background-color: $palette-secondary-background;
    display: flex;
    justify-content: flex-start;

    &__search {
        display: flex;
        flex-grow: 1;
    }
}
