@import "src/scss/variables/colors";

.header-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content {
        position: absolute;
        width: 500px;
        display: flex;
        flex-direction: column;
        z-index: 10;
        background-color: $palette-base-color;
        border: 1px solid $palette-primary-background;
        font-size: 14px;
        font-weight: bold;
        color: $palette-secondary-text;
    }

    &__content-item {
        width: 100%;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: $palette-third-background;
        }
    }
}

.search-trigger {
    display: flex;

    &__input {
        width: 500px;
        height: 30px;
        border: 1px solid $palette-fourth-background;

        &:focus {
            border: 1px solid $palette-primary-border;
        }
    }

    &__btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-color: $palette-fourth-background;

        &:hover {
            background-color: $palette-primary-border;
        }
    }
}
