@mixin contentLoaderAnimation {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loaderAnimation {
    0% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 1}
}