@mixin contentLoaderAnimation {
    animation-name: loaderAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loaderAnimation {
    0% {opacity: 1}
    60% {opacity: 0.6}
    100% {opacity: 1}
}