@import "src/scss/variables/colors";

$headerHeight: 56px;

.header-main-logo-block {
    display: flex;
    align-items: center;
    height: $headerHeight;
    width: 240px;
    background-color: $palette-secondary-background;

    &__menu-btn {
        width: $headerHeight;
        height: $headerHeight;
        padding: 0 13px;
        margin: 0 10px;
        cursor: pointer;
    }

    &__logo {
        height: $headerHeight;
        width: 90px;
        cursor: pointer;
    }
}
