@import "src/scss/variables/colors";

.menu-list-item {
    display: flex;
    padding: 9px 0;
    align-items: center;

    &__icon {
        width: 24px;
        height: 24px;
        margin: 0 25px;
    }

    &__title {
        font-size: 14px;
    }

    &--active {
        font-weight: bold;
        background-color: $palette-third-background;
    }

    &:hover {
        cursor: pointer;
        background-color: $palette-fourth-background;
    }
}
