@import "src/scss/variables/colors";
@import "src/scss/mixins/contentLoader";

.content-loader {
    max-width: calc(100% - 240px);
    max-height: calc(100% - 56px);

    &-bar {
        padding: 5px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $palette-secondary-background;
        border-top: 1px solid $palette-fourth-background;
        border-bottom: 1px solid $palette-fourth-background;

        &__item {
            @include contentLoaderAnimation;
            width: 100px;
            height: 30px;
            border-radius: 20px;
            background-color: $palette-fourth-background;
        }
    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            @include contentLoaderAnimation;
            width: 360px;
            height: 312px;
            margin: 20px 10px;
            background-color: $palette-secondary-background;
        }
    }
}