@import "src/scss/variables/colors";
@import "src/scss/mixins/contentLoader";

.content-loader {
    max-width: calc(100% - 240px);
    max-height: calc(100% - 56px);

    &-bar {
        padding: 5px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $palette-secondary-background;
        border-top: 1px solid $palette-fourth-background;
        border-bottom: 1px solid $palette-fourth-background;

        &__item {
            @include contentLoaderAnimation;
            width: 100px;
            height: 30px;
            border-radius: 20px;
            background-color: $palette-fourth-background;
        }
    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__item {
            @include contentLoaderAnimation;
            width: 360px;
            height: 312px;
            margin: 20px 10px;
            background-color: $palette-secondary-background;
        }
    }
}

.grid-item {
    &__content {
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;
    }

    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: $palette-fourth-background;
    }

    &__info {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__info-title {
        width: 100%;
        height: 10px;
        background-color: $palette-fourth-background;
    }

    &__info-description {
        width: 90%;
        height: 10px;
        background-color: $palette-fourth-background;
    }
}