@import "src/scss/variables/colors";

.aside-menu {
    height: calc(100% - 56px);
    width: 56px;
    transition: 0.2s;
    background-color: $palette-secondary-background;

    &--open {
        width: 240px;
    }

    &__header {
        position: absolute;
        top: 0;
        left: 0;
    }
}
