@import "src/scss/variables/colors";

.menu-list {
    padding: 9px 0;
    border-top: 1px solid $palette-third-background;

    &__title {
        margin: 0 25px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: $palette-secondary-text;
    }
}
